body {
  margin: 0;
}

.container {
  color: #808080;
  display: flex;
  justify-content: space-between;

  .sidebar {
    background-color: #000000;
    border: 2px solid #008080;
    box-sizing: border-box;
    float: left;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    position: fixed;
    width: 30%;
    z-index: 10;

    .sidebar-form {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 90%;

      input[type='text'] {
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 12px;
        padding: 12px 20px;
        width: 60%;
      }

      input[type='button'] {
        background-color: #2159AD;
        color: white;
        display: inline-block;
        margin-left: 20px;
        padding: 9px 20px;
        text-align: center;
        text-decoration: none;
      }
    }


    .sidebar-menu {
      li {
        padding: 12px;
      }

      li:hover {
        background-color: #808080;
        color: #ffffff;
      }
    }
  }

  .map-container {
    border: 2px solid #008080;
    box-sizing: border-box;
    height: 100%;
    left: 30%;
    position: absolute;
    right: 0px;

    #map {
      height: 100%;
    }
  }
}
