body {
  margin: 0;
}

.container {
  color: #808080;

  .sidebar {
    background-color: #000000;
    box-sizing: border-box;
    float: left;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    position: fixed;
    width: 20%;
    z-index: 10;

    .sidebar-form {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%;

      input[type='text'] {
        background-color: white;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 12px;
        width: 60%;
      }

      input[type='button'] {
        background-color: #2159AD;
        color: white;
        padding: 9px 20px;
        text-align: center;
        text-decoration: none;
      }
    }

    .sidebar-menu {
      list-style-type: none;
      padding: 0;
      li {
        padding: 12px;
      }

      li:hover {
        background-color: #808080;
        color: #ffffff;
      }
    }
  }

  .expand-map-container {
    left: 0 !important;
  }

  .map-container {
    box-sizing: border-box;
    height: 100%;
    left: 20%;
    position: absolute;
    right: 0;
    display: flex; 
    flex-direction: column;

    .menu-container {
      background-color: black;
    }
    
    .menu-icon {
      width: 40px;
      height: 50px;
      cursor: pointer;
      background: url('/images/menu_icons.png') no-repeat;
      margin-top: 9px;
      margin-left: 4px;
    }

    .close_menu {
      background-position: -41px 0!important;
    }

    #map {
      height: 100%;
    }
  }
}
